///
// Custom styles
//

body {
    // font-size: 1em;
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }
  
.btn-primary {
  color: #F1ECDF; 
  background: #9D4019;
  border-color: #9D4019;
}